services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=local
      - STORAGE_DATASOURCE_CORE_JDBC-URL=jdbc:mysql://db:3306/transfer_practice?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      - STORAGE_DATASOURCE_CORE_USERNAME=root
      - STORAGE_DATASOURCE_CORE_PASSWORD=root
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: transfer_practice
    ports:
      - "23306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
