spring:
  config:
    activate:
      on-profile: local
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

storage:
  datasource:
    core:
      jdbc-url: jdbc:mysql://localhost:3306/transfer_practice
      driver-class-name: com.mysql.cj.jdbc.Driver
      username: root
      password: root